footer {
  width: 100%;
  height: auto;
  background: url('http://bigstorybiz.com/wp-content/uploads/2015/02/network1.jpg');
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  color: #fff;
}

footer a {
  color: #ffffff;
  font-size: 14px;
  margin-left: 10px;
}

footer nav a:hover {
  border-bottom: 1px solid #fff;
}

footer nav {
  margin:auto;
  width: 81.6326531%;
  height: 50px;
}

.social img {
  margin-left: 10px;
  margin-bottom: 10px;
}

.social img:hover {
  background-color: #494949;
  border-radius: 50%;

}

.user_input {
   padding: 5px;
   border: #fff;
   border-radius: 2px;
}

.money_input {
   padding: 2px;
    border-radius: 2px;
   margin-left: 10px;
   margin-top: 10px;
   width: 100px;
}

.user_input {
  border:#fff;
}

.tall {
  min-height: 450px;
}
.relative {
  position: relative;
}
.erase_margin {
  margin:0 !important;
}

.auction-unit {
  height: 550px;
}

.lot_price {
  color: #818181;
  font-size: 2em;
}
