footer {
  width: 100%;
  height: auto;
  background: url('./back.jpg');
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  color: #fff;
}
/*'http://bigstorybiz.com/wp-content/uploads/2015/02/network1.jpg'*/
footer a {
  color: #ffffff;
  font-size: 14px;
  margin-left: 10px;
}

footer nav a:hover {
  border-bottom: 1px solid #fff;
}

footer nav {
  margin:auto;
  width: 81.6326531%;
  height: 50px;
}

.social img {
  margin-left: 10px;
  margin-bottom: 10px;
}

.social img:hover {
  background-color: #494949;
  border-radius: 50%;

}

.navigation_container {
  height: 220px;
  background:url('./back.jpg') no-repeat;
  background-size: cover;
  padding:30px;
  margin-top: -30px;
}

.navigation {
  width: 40%;
  padding-top: 20px;
  padding-bottom: 40px;
  margin:auto;
  color:#fff;
  background:rgba(98, 255, 236, 0.2);
  border-radius: 2px;
}

.user_input {
   padding: 5px;
   border: #fff;
   width: 20em;
}

.money_input {
   padding: 2px;
  border-radius: 2px;
   margin-left: 10px;
   margin-top: 10px;
   width: 100px;
}

.tall {
  min-height: 450px;
}
.relative {
  position: relative;
}
.erase_margin {
  margin:0 !important;
}

.auction-unit {
  height: 600px;
}

.date_pick {
  font-size: 1rem !important;
}

.date_pick ul{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.lot_timer {
  font-size: 1.3em;
}

.lot_price {
  font-size: 1.5em;
  display:block;
  text-align: center;
  border-radius: 2px;
  padding: 0.3em;

}
